<html>

<head>
    <meta charset="UTF-8">
    <title>Node Project Template</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/externo/bootstrap/bootstrap.min.css">
    <script src="js/externo/jquery-3.3.1.min.js"></script>
    <script src="/js/externo/bootstrap/bootstrap.min.js"></script>

    <script src="js/externo/moment.js"></script>
</head>
<body>
</body>

</html>

<script rel="stylesheet" src=""></script>
<script type="text/javascript">